<html>
    <head>
        <title>Main</title>
    </head>
    <body>
        <h1>Before entering into pokedex read this </h1>
        <p>
            <table border="1px">
            <tr><th>sno</th><th>pokemon</th></tr>
            <tr><td>1  </td><td>Bulbasaur</td></tr>
            <tr><td>2  </td><td>Ivysaur</td></tr>
            <tr><td>3  </td><td>Venusaur</td></tr>
            <tr><td>4  </td><td>Mega-Venusaur</td></tr>
            <tr><td>5  </td><td>Charmander</td></tr>
            <tr><td>6  </td><td>Charmeleon</td></tr>
            <tr><td>7  </td><td>Charizard</td></tr>
            <tr><td>8  </td><td>Mega-CharizardY</td></tr>
            <tr><td>9  </td><td>Mega-CharizardX</td></tr>
            <tr><td>10 </td><td>Squirtle</td></tr>
            <tr><td>11 </td><td>Wartotle</td></tr>
            <tr><td>12 </td><td>Blastoise</td></tr>
            <tr><td>13 </td><td>Mega-Blastoise</td></tr>
            
            </table>
        </p>
        <a href="{{url_for('pokedex')}}">Pokedex</a>
    </body>
</html>